<turbo-frame id="document_title" class="flex-1 max-w-md mx-8">
  <h1 class="text-xl text-center font-semibold text-gray-900 truncate">
    <%= document.title.presence || "Untitled Document" %>
  </h1>
</turbo-frame>